<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839938478359-8cbvcg8c7i5s9ed1skfkhk7lpip948in.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839938478359-8cbvcg8c7i5s9ed1skfkhk7lpip948in</string>
	<key>API_KEY</key>
	<string>AIzaSyB1imI1X3j9vLE9cmjaYhxQZEjfJWyvMC4</string>
	<key>GCM_SENDER_ID</key>
	<string>839938478359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.arkive</string>
	<key>PROJECT_ID</key>
	<string>mappn-342317</string>
	<key>STORAGE_BUCKET</key>
	<string>mappn-342317.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839938478359:ios:ae161e13a81720fe632752</string>
</dict>
</plist>