<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Arkive</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>you can capture moments with Arkive </string>
	<key>NSContactsUsageDescription</key>
	<string>you can add friends and share moments with them</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>you can add your profile with Arkive </string>
	<key>UIAppFonts</key>
	<array>
		<string>HelveticaNeueLT-BlackExt.ttf</string>
		<string>HelveticaNeue-Regular.ttf</string>
		<string>HelveticaNeue-Bold.ttf</string>
		<string>HelveticaNeue-LT-Std-93-Black-Extended.otf</string>
		<string>HelveticaNeue LT 93 BlackEx.otf</string>
		<string>HelveticaNeue LT 93 BlackEx.ttf</string>
		<string>HelveticaNeueMedium.ttf</string>
		<string>HelveticaNeueLight.ttf</string>
		<string>HelveticaNeueThin.ttf</string>
		<string>HelveticaNeueLTPro-MdEx.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
